/*body{
        background-color:azure;
        width: 900px;
        padding: 25px;
        text-align: center;
        border: 1px solid black;
        margin:auto;
        background-color: bisque;
  
}
*/
#outer{
    background-color:beige;
}

#header
{
    position:relative;
    z-index: 1;
    height:40px;
    width: 98%;
    background-color: #668284;
    border-radius: 8px;
    
    }

#name {
    float:left;
	margin:auto;
    margin-top: 8px;
    margin-left: 3px;
	padding-bottom: 10px;
	font-size: 21px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#email{
    float:right;
    margin:auto;
    margin-top: 10px;
    margin-right: 3px;
	padding-bottom: 0px;
	font-size: 13.5px;
	color: #ffffff;
}

#cvBody{
    height: auto;
    width: 99%;
    border-radius: 7px;
    background-color:cadetblue;
    text-align: left;
    margin-top:12px ;
}



table{
    border: 1px solid black;
    box-sizing: border-box;
    width:70%;
}
td{
    border: 1px solid black;   
    border-radius: 0%;
    border-collapse:separate;
    position: relative;
}
